* {
  margin: 0;
  padding: 0;
}

.h100 {
  height: calc(100vh - 64px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #001529;
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  height: 30px;
}

.logo {
  display: flex;
}

.top-menu {
  flex: 1;
  min-width: 0;
}

.username-box {
  color: #fff;
  display: flex;
}

.username {
  text-transform: uppercase;
}

.login,
.logout {
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.randomizer {
  display: flex;
  flex-direction: column;
}

.randomizer h1 {
  margin-bottom: 30px;
}

.colors-picker {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  gap: 10px;
}

.color-box {
  height: 30px;
  width: 30px;
}

.color-box:hover {
  transform: scale(1.25);
}